<div class="div content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h4 class="text-center">Lista de Mascotas</h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>ID MASCOTA</th>
                            <th>NOMBRE</th>
                            <th>RAZA</th>
                            <th>EDAD</th>
                            <th>RAZÓN DE LA CITA</th>
                            <th>CLIENTE</th>
                            <th>RESPONSABLE </th>
                            <th>VETERINARIA</th>
                            <th style="text-align: center;">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (mascota of mascotas; track mascota.idMascota) {
                        <tr>
                            <td>{{ mascota.idMascota }}</td>
                            <td>{{ mascota.nombre }}</td>
                            <td>{{ mascota.raza }}</td>
                            <td>{{ mascota.edad }}</td>
                            <td>{{ mascota.razonCita }}</td>
                            <td>{{ mascota.nombreCliente }}</td> 
                            <td>{{ mascota.nombreResponsable }}</td>
                            <td>{{ mascota.nombreVeterinaria }}</td>
                            <td>
                                <button class="btn btn-warning me-2" (click)="editarMascota(mascota)">EDITAR</button>
                                <button class="btn btn-danger" (click)="eliminarMascota(mascota.idMascota)">ELIMINAR</button>
                            </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="9" style="text-align: center;"> NO EXISTEN DATOS PARA MOSTRAR, AGREGUE NUEVOS DATOS</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

